<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/main.css">
    
    <title>Xbox One Promotion</title>
</head>
<body>
    <main>
        <h1>Welcome to Xbox One</h1>
        <p>Introducing you the Xbox One X. One of the latest xbox's out there with 40% more power than any other console, experience immersive true 4K gaming.</p>
        <!-- <img src="/images/xbox_one_x.jpg" id="xboxOne" alt="Xbox One X"> -->

        <div id="videoSection">
            <video controls src="/images/xbox_scarlett.mp4" id="xboxVid" alt="Project Scarlett">
        </div>

        
    </main>

    <script src="js/main.js"></script>
</body>
</html>