<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/main.css">
    
    <title>Xbox One Promotion</title>
</head>
<body>
    <main>
        <h1>Welcome to Xbox One</h1>
        <p>Introducing you the Xbox One X. One of the latest xbox's out there with 40% more power than any other console, experience immersive true 4K gaming.</p>

        <img src="/images/xbox_one_x.jpg" id="xboxOne" alt="Xbox One X">

        <div id="coolFanText">

            <p>The Xbox One X contains 12GB GDDR5 of graphic memory that add speed and power to game performance to enable bigger worlds, further horizons, and quicker load times. Game graphics are faster and more detailed with 326 GB/sec memory bandwidth, to keep your gaming momentum flowing.</p>
    
            <img src="/images/xbox_one_fan.jpg" id="coolFan" alt="xbox cooling fan">
    
            <p>With 6 Teraflops, 326GB/s of Memory Bandwidth and advanced, custom silicon, the Scorpio Engine is the world’s most powerful console gaming processor.All that power doesn’t mean more heat and noise; Xbox One X uses advanced liquid cooling and the supercharger-style centrifugal fan to ensure it stays cool.</p>
            
        </div>
        

        <h2>Coming Soon</h2>

        <p>Xbox always strives to create a better console than before, soon they will come out with the new console: Project Scarlett will be available for purchase sometime in 2020.</p>

        <div id="videoSection">
            <video controls src="/images/xbox_scarlett.mp4" id="xboxVid" alt="Project Scarlett">
        </div>

        
    </main>

    <script src="js/main.js"></script>
</body>
</html>